{% extends 'base1.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center p-5" style=" border-radius:8px ; font-weight: 400; font-family: var(--bs-font-sans-serif); background-color:#fff3cd; color: #664d03; padding: 4px; ">Email Engagement Tracking</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="color: #664d03;">#</th>
            <th scope="col" style="color: #664d03;">Subject</th>
            <th scope="col" style="color: #664d03;">List</th>
            <th scope="col" style="color: #664d03;">Total Sent</th>
            <th scope="col" style="color: #664d03;">Events</th>
            <th scope="col" style="color: #664d03;">Sent at</th>
          </tr>
        </thead>
        <tbody>
            {% for email in emails %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'track_stats' email.id %}">{{ email.subject }}</a></td>
            <td>{{ email.email_list }}</td>
            <td>{{ email.total_sent }}</td>
            <td>
                <div>{{ email.open_rate }}% Opened</div>
                <div>{{ email.click_rate }}% Clicked</div>
            </td>
            <td>{{ email.sent_at }}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>

{% endblock %}