{% extends 'base1.html' %}


{% block content %}
<div class="container" style="padding: 50px;margin-top: 5%;">
    {% if user.is_authenticated %}
    <h2 class="text-center">Task Forge: Powering Automation with Django</h2>
    <div class="row pt-5">
        <!-- Import data -->
        <div class="col-md-4">
            <a href="{% url 'import_data' %}" class="text-decoration-none text-dark">
                <div class="card alert-primary shadow">
                    <div class="card-header">
                    <h4>Import Data</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Imports data from CSV file to any table.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Export Data -->
        <div class="col-md-4">
            <a href="{% url 'export_data' %}" class="text-decoration-none text-dark">
                <div class="card alert-success shadow">
                    <div class="card-header">
                    <h4>Export Data</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Exports data from a specific table to a CSV file.</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Bulk Emails -->
        <div class="col-md-4">
            <a href="{% url 'send_email' %}" class="text-decoration-none text-dark">
                <div class="card alert-danger shadow">
                    <div class="card-header">
                    <h4>Bulk Emails</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Sends bulk emails to users.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row pt-5">
        <!-- Email Tracking -->
        <div class="col-md-4">
            <a href="{% url 'track_dashboard' %}" class="text-decoration-none text-dark">
                <div class="card alert-warning shadow">
                    <div class="card-header">
                    <h4>Email Tracking</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Tracks emails and shows open and click rate.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Compress Images -->
        <div class="col-md-4">
            <a href="{% url 'compress' %}" class="text-decoration-none text-dark">
                <div class="card alert-danger shadow">
                    <div class="card-header">
                    <h4>Compress Images</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Compresses Image files and reduces the size.</p>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row pt-5">
        <!-- <div class="col-md-6">
            <a href="{% url 'bloggen' %}" class="text-decoration-none text-dark">
                <div class="card alert-warning shadow">
                    <div class="card-header">
                    <h4>Blog Generator</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Blog articles from youtube videos using AI.</p>
                    </div>
                </div>
            </a>
        </div> -->
        <div class="col-md-6">
            <a href="{% url 'ask_pdf' %}" class="text-decoration-none text-dark">
                <div class="card alert-warning shadow">
                    <div class="card-header">
                    <h4>AI PDF reader</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">An interactive web application that allows users to upload PDFs and ask questions about the content, leveraging LLM for accurate answers.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="{% url 'home' %}" class="text-decoration-none text-dark">
                <div class="card alert-danger shadow">
                    <div class="card-header">
                    <h4>Quiz Generator</h4>
                    </div>
                    <div class="card-body">
                    <p class="card-text">Generate Quiz using AI.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    {% else %}

    <div class="home-info">
        <h2 class="text-center">Task Forge</h2>
        <p class="lead text-center text-muted">
            "Task Forge: Powering Automation with Django" is an innovative application designed to leverage the robustness of the Django framework to automate a broad range of administrative and creative tasks. From data import/export to complex email campaigns and content generation, Task Forge provides users with powerful tools to streamline their workflows efficiently. By integrating features like email tracking, image compression, and AI-driven content creation, Task Forge not only saves time but also significantly boosts productivity and enhances the operational efficiency of businesses and individual projects. With Task Forge, tedious tasks are simplified, allowing users to focus on strategic and creative endeavors.
        </p>

        <div style="display: flex; justify-content: center;">
            <a href="{% url 'login' %}" class="btn btn-primary">LOGIN</a>
            &nbsp;<a href="{% url 'register' %}" class="btn btn-success">REGISTER</a>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}